*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
    background-color: #333;
    height: 100vh;
    /*This part is important for centering*/
    display: grid;
    background-image: url(night-sky.jpg);
    backdrop-filter: blur(2px);
    background-size: 100% ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    display: grid;
}

.div-1 {
    font-size: 15px;
    font-family: monospace;
    list-style-type: none;
    color: green;
    overflow: hidden;
    width: 45ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  font-size: 18px;
}


.a-1 {
    text-decoration: none;
    font-style: bold;
    color: green;
}

@keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

